# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/

# ignore ALL .ipynb_checkpoints files
.ipynb_checkpoints/

# ignore ALL .Identifier
*.Identifier

# ignore praw.ini
praw.ini